@charset "UTF-8";

/* 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}


/* 전체 설정 */
html {
  font-size: 10px;
  font-family: 'Pretendard';
}

body {
  padding-top: 170px;
}

.container {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  text-align: center;
}

/* 헤더 영역 */
#header {
  width: 100%;
  height: 140px;
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 99
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.header .logo img {
  width: 100%;
}

.header .header_nav {
  padding-top: 70px;
}

.header .header_nav .menu {
  display: flex;
}

.header .header_nav .menu li {
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.header .header_nav .menu li:last-child {
  border: 1px solid #3C4C3D;
}

.header .header_nav .menu li a {
  font-size: 2rem;
  font-weight: 400;
  color: #3C4C3D;
}








/* 푸터 영역 */
#footer {
  width: 100%;
  background-color: #192922;
}

.footer .f_top {
  height: 150px;
}

.footer .f_top .f_btn {
  padding: 80px 50px 0 0;
  /* width: 50px;
    height: 50px;    */
}

.footer .f_top .f_btn img {
  display: block;
  align: right;
}

.footer .f_bottom {
  height: 150px;
  display: flex;
  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 14px;
}

.footer .f_bottom .f_bottom_L {
  width: 70%;
  padding-left: 50px;
}

.footer .f_bottom .f_bottom_L .f_info {
  display: flex;
}

.footer .f_bottom .f_bottom_L .f_info {}

.footer .f_bottom .f_bottom_L .f_info li {
  display: block;
  line-height: 25px;
  padding-left: 50px;
  color: #FFFFFF;
}

.footer .f_bottom .f_bottom_R {
  width: 30%;
  line-height: 25px;
  padding-right: 50px;
  text-align: right;
}

.footer .f_bottom .f_bottom_R .f_link {}

.footer .f_bottom .f_bottom_R .f_link a {
  color: #FFF;
}

.footer .f_bottom .f_bottom_R .f_link a span {
  font-weight: 500;
  padding-right: 30px;
}

.footer .f_bottom .f_bottom_R .f_copy {
  font-family: 'Lato';
  color: #919191
}